*.py~
*.txt~
*.pyc
VintageCode/
VintageCode/*
output/geometry/*.txt
output/geometry/*.dat
output/sigma/*.txt
output/sigma/*.dat
output/*.txt
output/*.dat
data/sigma_trace3d/
data/Sigma_Trace3d/
.gitignore~
*.sh~
*.md~
*.pyc
*~
.metadata
